.carousel__wrapper {
    white-space: nowrap;
    width: 100%;
}

.small-carousel__item {
    display: inline-block;
    width: 100%;
    margin-right: 2.3rem;
}

.carousel-window {
    overflow-x: hidden;
    width: 100%;
}

.news-carousel__item {
    margin-right: 2.3rem;
}