@font-face {
    font-family: 'bitter-bold';
    src: url('../src/fonts/Bitter-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'bitter';
    src: url('../src/fonts/Bitter-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'varela-round';
    src: url('../src/fonts/VarelaRound-Regular.ttf') format('truetype');
}