.header {
    background-color: #252525;
    color: #fff;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -100%;
        right: -100%;
        background-color: #252525;
    }
    &:after {
        display: block;
        content: "";
        clear: both;
    }
    & > * { vertical-align: middle; }
}

.header .logo {
    background-color: #2f2f2f;
    display: inline-block;
    width: 60px;
    height: 50px;
    position: relative;
    & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header h1 {
    display: inline-block;
    font-size: 1.7rem;
    font-family: $font-family-logo;
    font-weight: 300;
    margin-left: 0.5rem;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header__right {
    float: right;
    font-family: $font-family-2;
    list-style-type: none;
    li {
        display: inline-block;
        padding: 10px 20px 10px 20px;
        line-height: 0;
    }
    @media ($tablet-to-mobile) {
        //visibility: hidden;
        display: none;
    }
}

.magnifier-icon {
    vertical-align: middle;
    background-color: #2f2f2f;
    &::before { content: url(/dist/icons/magnifier-icon.png); }
}

/* Hamburger menu */
.menu--hamburger {
    float: right;
    font-family: $font-family-2;
    list-style-type: none;
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    @media ($tablet-to-mobile) {
        display: block;
    }

    input {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        right: 0;
        z-index: 3;

        &:checked {
            z-index: 3;

            ~ .menu {
                left: 10px;
                z-index: 1;
            }
    
            ~ .hamburger--icon {
                z-index: 2;
            }
        }
    }

    .hamburger--icon {
        display: block;
        width: 30px;
        height: 30px;
        float: right;
        position: relative;
        z-index: 2;
    
        span {
            display: block;
            width: 30px;
            height: 4px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: #fff;
        }
    }
    
    .menu {
        width: 250px;
        list-style-type: none;
        position: relative;
        background-color: #FF3232;
        left: 260px;
        transition: left 0.5s ease-in;
        z-index: 1;
        margin-top: -15px;
    
        ul {
            list-style-type: none;
            padding-top: 35px;
        }
    
        li {
            padding: 15px;
            padding-left: 30px;
        }
    
        hr {
            border: none;
            border-bottom: 0.1px solid #252525;
        }
    }
}
