.header {
    background-color: #252525;
    color: #fff;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -100%;
        right: -100%;
        background-color: #252525;
    }
    &:after {
        display: block;
        content: "";
        clear: both;
    }
    & > * {
        vertical-align: middle;
    }
}

.header .logo {
    background-color: #2f2f2f;
    display: inline-block;
    width: 60px;
    height: 50px;
    position: relative;
    & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header h1 {
    display: inline-block;
    font-size: 1.7rem;
    font-family: $font-family-logo;
    font-weight: 300;
    margin-left: 0.5rem;
}

.header__right {
    float: right;
    font-family: $font-family-2;
}

.header__right {
    list-style-type: none;
    & li {
        display: inline-block;
        padding: 10px 20px 10px 20px;
        line-height: 0;
    }
}

.magnifier-icon {
    //margin-top: 10px;
    vertical-align: middle;
    background-color: #2f2f2f;
    &::before {
        content: url(/dist/magnifier-icon.png);
    }
}

/*
.header__right li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    font-size: 0.8rem;
}

.header__left li {
    display: inline-block;
    padding: 10px 20px 10px 0;
    &:last-child {
        font-family: $font-family-logo;
        //font-size: 1.6rem;
    }
}

.magnifier-icon {
    //margin-top: 10px;
    vertical-align: middle;
    background-color: #2f2f2f;
}

.magnifier-icon::before {
    content: url(/dist/magnifier-icon.png);
}

.logo-icon {
    //margin-top: 10px;
    vertical-align: middle;
    background-color: #2f2f2f;
}

.logo-icon::before {
    content: url(/dist/logo-icon.png);
}
*/