$color-news: #3677b5;
$color-sport: #84c14f;
$color-business: #ee6151;
$color-news-carousel: #fcc44d;
$color-small-carousel: #a99765;

$font-family-1: 'bitter-bold', serif;
$font-family-2: 'varela-round', sans-serif;
$font-family-logo: 'bitter', serif;