@import "_vendor";
@import "_variables";
@import "_fonts";

@import "_header";
@import "_navbar";
@import "_panel";
@import "_banner";
@import "_aside";
@import "_footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    overflow-x: hidden;
    margin: 0;
    font-family: $font-family-1;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.grid-container {
    @include grid-container;
    @include grid-collapse;
}

.main-left { @include grid-column(8, (columns: 12, gutter: 0px)); }
.main-right {
    @include grid-column(4, (columns: 12, gutter: 0px));
    margin-left: -20px;
    width: calc((4/12 * 100%) + 20px);
}